body{
    margin: 0;
    /* background-color: #C7EEF5; */
    background-image: linear-gradient(to right, lightcoral,lightblue);
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 2px 5px transparent;
    /* background-color: #55BDCA; */
    background-color:lightblue ;
}
#header h1{
    font-family: 'Otomanopee One', sans-serif;
    color:#022249;
}
#search-box{
    width: 400px;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: rgb(245, 242, 242);
    box-sizing: border-box;
    padding: 10px 24px 8px 48px;
    color: black;
    outline: none;
    margin-right: 12px;
    border-radius: 12px;
}
.search-wrapper{
    position: relative;
}
#search-icon{
    color: red;
    position: absolute;
    color: #999;
    font-size: 18px;
    top: 8px;
    left: 10px;
}
.btn-search{
    padding: 10px 24px 8px 24px;
    border: none;
    border-radius: 12px;
    background-color: #F07C41;
    color: #022249;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
#btn-addnew{
    padding: 10px 24px 8px 24px;
    border: none;
    border-radius: 12px;
    background-color: #F07C41;
    color: #022249;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
#main-heading{
    font-family: 'Open Sans', sans-serif;
    color:#022249;
    font-weight: 800;
    font-size: 45px;
    margin-left: 50px;
}
.front-poster img{
    width: 600px;
    margin-left: 100px;
}
.front-details h2{
    font-family: 'Open Sans', sans-serif;
    color:#022249;
}
.front-details h3{
    font-family: 'Open Sans', sans-serif;
    color:#022249;
}
.front-details{
    margin-left: 50px;
}
.front-total{
    display: flex;
}
#player-details{
    color: #F07C41;
}
#batsman-details{
    color: #F07C41;
}
#bowler-details{
    color: #F07C41;
}
#won-details{
    color: #F07C41;
}
#players-list-div{
    font-family: 'Open Sans', sans-serif;
    color:#022249;
    font-size: 20px;
    margin-left: 100px;
}
.player-details img{
    width: 150px;
    height: 200px;
}
.player-details h4{
    margin: 0;
    font-size: 16px;
    margin-left: 5px;
}
.player-details h3{
    margin: 0;
    font-size: 12px;
    margin-left: 5px;
}
.player-details{
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    background-color: #fff;
    margin-left: 30px;
    margin-top: 30px;
    vertical-align: top;
}
.link{
    text-decoration: none;
    color:#022249 ;
}
